<%= link_to bike_path(bike) do %>
  <div class="card-product mt-2">
    <%= cl_image_tag(bike.photo.key) %>
    <div class="card-product-infos">
        <div class="d-flex justify-content-between">
          <h2><%= bike.name %></h2>
          <%= link_to "Edit", edit_bike_path(bike) %>
        </div>
      <p><%= bike.price %>€</p>
      <p><%= bike.active ? "Available for rental" : "Not available" %></p>
    </div>
  </div>
<% end %>
