<%= link_to bike_path(bike) do %>
  <div class="card-product mt-2">
    <%= cl_image_tag(bike.photo.key) %>
    <div class="card-product-infos">
        <div class="d-flex justify-content-between">
          <h2><%= bike.name %></h2>
          <%= link_to "Edit your bike", edit_bike_path(bike), class: "btn btn-ghost" %>
        </div>
        <div class="d-flex justify-content-between align-items-end">
          <div>
            <p>Current rental price: <%= bike.price %>€</p>
            <p>My bike is free to rent? <%= bike.active %></p>
          </div>
              <%= link_to change_path(bike.id), data:{turbo_method: :patch} do %>
                <i class="fa-solid <%= bike.active ? "fa-check" : "fa-x" %> p-2"></i>
              <% end %>
        </div>
    </div>
  </div>
<% end %>
