
<%# ‼️ Important: This is a static navbar. To enable the login/logout logic in your Rails project,
uncomment the lines of the ERB code which are commented out below. %>

<div
  class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-transparent"
  data-navbar-target="navbar"
  data-action="scroll@window->navbar#updateNavbar"
>
  <div class="container-fluid">
    <%= link_to root_path,  class: "navbar-brand" do %>
      <%= image_tag "freddiefiets.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Bikes", bikes_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Near Me", near_me_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Bookings", bookings_path(current_user), class: "nav-link" %>
          </li>
            <li class="nav-item active">
            <%= link_to "Dashboard", account_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "freddie avatar.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "List a bike", new_bike_path, class: "dropdown-item" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "All bikes", bikes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
