<h1>Freddie's Feet Dashboard for <%= current_user.first_name %></h1>
<h3>User details </h3>

<p>First name: <%=current_user.first_name %></p>
<p>Last name: <%=current_user.last_name %></p>
<p>e-mail: <%=current_user.email %></p>
<%= link_to "Reset your password", edit_user_password_path(current_user)  %>

<%= @user_bikes %>
