
<div class="main-content pt-4 container">
    <h1 class="fw-bold">Freddie's Fiets Dashboard</h1>
  <div class="card bg-light mb-3">
    <div class="card-body ">
      <div class="d-flex justify-content-between">
        <h2 class="fw-bold">User details </h2>
        <%= link_to "Edit your user details", edit_user_registration_path(current_user), class: "btn btn-ghost" %>
      </div>
      <p>First name: <%=current_user.first_name %></p>
      <p>Last name: <%=current_user.last_name %></p>
      <p>E-mail: <%=current_user.email %></p>
    </div>
  </div>

<div class="card bg-light mb-3">
    <div class="card-body ">
      <h2 class="fw-bold">Your bookings</h2>
      <div class="cards">

        <% @user_bookings.each do |user_booking| %>
          <% @content = render "components/card", booking: user_booking %>
          <%= link_to @content, bike_path(user_booking.bike) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-body ">
      <div class="d-flex justify-content-between">
        <h2 class="fw-bold">Your bikes</h2>
        <%= link_to "List a new bike",  new_bike_path(current_user), class: "btn btn-ghost" %>
      </div>
      <br>
      <% @user_bikes.each do |bike| %>
        <%= render "components/cardproduct", bike: bike %>
      <% end %>
    </div>
  </div>


</div>
