
<div class="main-content pt-4 container">
    <h1 class="fw-bold">Freddie's Fiets Dashboard</h1>
  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="fw-bold">User details </h3>
        <%= link_to "Edit your user details", edit_user_registration_path(current_user) %>
      </div>
      <p>First name: <%=current_user.first_name %></p>
      <p>Last name: <%=current_user.last_name %></p>
      <p>e-mail: <%=current_user.email %></p>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h3 class="fw-bold">Your bikes</h3>
        <%= link_to "List a new bike",  bikes_new_path(current_user) %>
      </div>
      <br>
      <% @user_bikes.each do |bike| %>
        <%= render "components/cardproduct", bike: bike %>
      <% end %>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-body">
      <h3 class="fw-bold">Your bookings</h3>
      <%= @user_bookings %>
    </div>
  </div>
</div>
