<div class="main-content pt-4 container">

  <h1><%= @bike.name %></h1>
  <div class="d-flex">
    <p><i class="fa fa-map-pin" aria-hidden="true"></i>  <%= @bike.location %></p>
  </div>

  <div class="image-card card"> <%# change this so it is smaller reasonable size %>

    <div class="d-flex justify-content-between">
      <%= cl_image_tag(@bike.photo.key) %>
      <div class="bb-card-text align-items-center ">
        <div class="d-flex align-items-right pricing border-bottom">
          <h3> <strong> €<%= @bike.price %> per day </strong></h3>
          <%# <button type="button" class="btn btn-dark"><%= link_to "Back", :back %>
        </div>

        <div class="description">
          <div class="border-bottom">
            <h3><%= @bike.user.first_name.capitalize %>'s <%= @bike.bike_type.downcase %></h3>
          </div>

          <div class="border-bottom">
            <h3>Description:</h3>
            <p><%= @bike.description %></p>
          </div>

          <div class="border-bottom">
            <h3>Bike details:</h3>
            <% if @bike.hand_brakes == true %>
              <p>This bike has hand brakes</p>
            <% else %>
              <p>No hand-brakes</p>
            <% end %>
            <p><%= @bike.gears %> gears</p>
          </div>

          <div>
            <h3>Bike owner:</h3>
            <p><%= @bike.user.first_name %> <%= @bike.user.last_name %></p>
            <%# <p>XX verified</p> %>
          </div>

          <% if current_user == @bike.user %>
            <button type="button" class="btn nodecor btn-ghost"><%= link_to "Edit your bike", edit_bike_path(@bike.id) %></button>
          <% elsif user_signed_in? %>
            <button type="button" class="btn nodecor btn-flat  "><%= link_to "Rent now!", new_bike_booking_path(@bike.id) %></button>
          <% else %>
            <button type="button" class="btn nodecor btn-flat  "><%= link_to "Log in to rent this bike", new_user_session_path %></button>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>

  <%# Add logic so possibility of end-date being added %>
  <%# <div class="bb-card-details"> %>
  <%# </div> %>
