<!DOCTYPE html>
<html>
  <head>
    <title>Freddie's Fiets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="Don't Stop (Me) Now: Rent a Bike!<br>You want to ride your bicycle, biiicycle, BICYCLE">
    <meta name="keywords" content="Bike, Rent, Le Wagon">
    <meta name="author" content="Adriene, Alvaro, Lucas and Ono (Le Wagon Web Dev 922)">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
        <%= yield %>
    <%= render "shared/footer" %>
    <%= render "components/alert" %>
  </body>
</html>
